uvicorn==0.34.0
gunicorn==23.0.0
python-dotenv==1.0.1
fastapi==0.115.8
azure-storage-blob==12.24.1
azure-cosmos==4.9.0
numpy==2.2.3
torch==2.6.0 -f https://download.pytorch.org/whl/cpu
torchvision==0.21.0 -f https://download.pytorch.org/whl/cpu
pillow==11.1.0
shapely==2.0.7
joblib==1.4.2
opencv-python-headless==4.11.0.86